<div class="about-title">
    <p><strong>About the Creators</strong></p>
</div>

<!-- About Us  -->
<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Connor Banks</h5>
                <p class="card-text">Github:CNRBanks<p>
              </p> <br>
                <a href="mailto:connortamminen@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="" class="card-img" style="max-height: 300px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Tyler Charro</h5>
                <p class="card-text">Github:NathanTyle</p>
                <a href="mailto:tylercharro@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">LaTavya'Tay' Collins</h5>
                <p class="card-text">Github: collins418</p>
                <a href="mailto:msdvaistoday@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Harvey Lee</h5>
                <p class="card-text">Github:hhealing123 </p>
              </p> <br>
                <a href="mailto:@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>
</div><div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Jose Otero</h5>
                <p class="card-text">Github:Jose-M-Otero</p>
              </p> <br>
                <a href="mailto:ieagle71@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Matteo Ramazzini</h5>
                <p class="card-text">Github: mramazzini</p>
              </p> <br>
                <a href="mailto:mramazzini123@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>