<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listen To Me</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css">
    
</head>

<body style="background-color:#F5F5DC">
    <header class="display-flex justify-space-between align-center p-2">
        <h1 class="center-align" style="font-weight:bold;
 ">
            Listen To Me
        </h1>

    </header>
    {{>navbar}}
    {{{ body }}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}}
    <script src="/js/materialize.js"></script>
</body>

</html>