<div class="divider"></div>
<div class="row"></div>
<div class="row container">
  <form class="col s10 postForm yellow lighten-4">

    <div class="row" style="margin:20px">
      <h2>Post Form</h2>
      <div class="input-field col s6">
        <input placeholder="Topic" type="text" class="" id="topicPost">
        <label for="Topic">Topic</label>
      </div>
    </div>

    <div class="row" style="margin:20px">
      <div class="input-field col s12">
        <input placeholder="Content" type="text" class="" id="contentPost">
        <label for="Content">Content</label>
      </div>
    </div>
    
      <button class="logout blue darken-3 waves-effect waves-light btn-large" style="font-weight:bold; padding-left:20px; margin:20px;" type="submit" name="action">Submit here</button>
  </form>

  <script src="/js/add-blog-post.js"></script>