<h3 class="center-align">Listen to me blog:</h3>
<p class="center container yellow lighten-4 flow-text" style="border-radius:10px; padding:20px">Welcome to Listen to me.md! 
    This site allows you to post and comment about music and concerts. 
    We are the yelp of concerts and music.
</p>
<div class="container">
{{#each blogPosts as |blogPost|}}
{{> blog_post}}
{{/each}}
</div>