.main {
    margin: 0px;
    padding: 0px;
    background-color: #2b3f90;
    text-align: center;
  }
  
  #navbarDropdown {
      color: thistle;
  }
  
  .likesjumb {
      background-color: white;
      text-align: center;
  }
  
  .navbartext {
      color: thistle;
  }
  
  .mainimg {
    text-align: center;
  }
  
  .bodytext {
    color: thistle;
  }
  
  #mainSearch {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login {
    color: white;
  }
  
  .badge-info {
    margin-left: 3px;
  }
  .badge-warning, .badge-success {
    margin-left: 5px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    left: 5px;
    position: relative;
  }
  
  .thistle-color{
    color: thistle;
  }
  
  .sign-up {
    position: relative;
  }
  
  .nav-size{
    font-size: 25px;
  }
  
  .login-left {
    float: left;
  }